{#
 # File: /src/template/partials/_head.twig
 # Project: starter_frontend_twig
 # Version: 1.0.0
 # Created Date: Saturday, June 5th 2021, 21:49:25
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Sunday, June 6th 2021 21:05:09
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2021 justDev
 # 
 # Site head for static web
 # 
 #}

{# prettier-ignore-start #}

<link rel="stylesheet" href="{{ theme.link }}/assets/css/main.css{{ siteVersiov ? "?ver=" ~ siteVersiov }}"/>
<title>{{ page.seotitle ? page.seotitle ~ " | " }}{{ site.title }}</title>
<meta name="description" content="{{ page.description ? page.description : site.description }}"/>
<meta property="og:description" content="{{ page.description ? page.description : site.description }}"/>
<meta property="og:title" content="{{ page.seotitle ? page.seotitle ~ " | " }}{{ site.title }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ siteURL }}{{ page.url }}"/>
<meta property="og:image" content="/assets/system/facebook-og-image.jpg"/>
<meta name="twitter:description" content="{{ page.description ? page.description : site.description }}"/>
<meta name="twitter:title" content="{{ page.seotitle ? page.seotitle ~ " | " }}{{ site.title }}"/>
<meta name="twitter:image:src" content="/assets/system/twitter-og-image.jpg"/>
<meta name="twitter:card" content="summary_large_image"/>

{# prettier-ignore-end #}
