{#
 # File: /src/views/components/page/footer/_footer.twig
 # Project: starter_frontend_twig
 # Version: 2.2.0
 # Created Date: Thursday, September 28th 2023, 14:29:21
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Wednesday, February 28th 2024 13:49:50
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2024 justDev
 #}

<footer class="footer py-5 mt-5 bg-light">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-2 mb-3">
				<a href="/" class="footer-logo" aria-label="home" title="{{ site.title }}">
					{{ source(rootDir ~ '/public/assets/images/brand/logo.svg')|raw }}
				</a>
			</div>
			{% if footer.copyright %}
				<div class="col-5 offset-lg-1 mb-3">
					<div class="small text-muted">
						{% if footer.copyright %}
							<div class="mb-2">
								{{ '© ' ~ ('now'|date('Y')) ~ ' ' ~ footer.copyright }}
							</div>
						{% endif %}
					</div>
				</div>
			{% endif %}

			<div class="col-6 col-lg-4">
				<ul class="list-unstyled text-muted">
					{% for item in footer_menu %}
						<li><a class="nav-link" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
					{% endfor %}
				</ul>

				<div class="social-media d-flex gap-1 order-md-1">
					{% for item in social %}
						<a class="social-media-link fs-hd lh-1 d-flex" href="{{ item.url }}" aria-label="{{ item.title }}" target="_blank">
							{{ sprite(item.icon) }}
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</footer>
