{#
 # File: /src/template/components/_buttons.twig
 # Project: starter_frontend_twig
 # Version: 1.1.4
 # Created Date: Thursday, January 27th 2022, 18:48:47
 # Author: Kirill Dorozhynskyi - kirilldy@justdev.org
 # -----
 # Last Modified: Wednesday, February 9th 2022 22:35:06
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2022 justDev
 #
 # buttons
 #
 #}

<a href="{{ button.url }}" target="{{ button.target }}" title="{{ button.title }}" class="btn {{ class }}">
	<span>{{ button.title }}</span>
</a>
