{#
 # File: /src/template/components/_input.twig
 # Project: starter_frontend_twig
 # Version: 1.1.4
 # Created Date: Saturday, February 5th 2022, 12:01:20
 # Author: Kirill Dorozhynskyi - kirilldy@justdev.org
 # -----
 # Last Modified: Wednesday, February 9th 2022 22:35:14
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2022 justDev
 #
 # _input
 #
 #}

<div class="form-group{{ item.error ? ' error' }}">
	{% if item.label %}
		<label for="{{ item.type ~ index }}">{{ item.label }}</label>
	{% endif %}
	{% if item.type == 'textarea' %}
		<textarea type="{{ item.type }}"
			class="form-control"
			name=""
			id="{{ item.type ~ index }}"
			aria-describedby="emailHelpId"
			placeholder="{{ item.placeholder }}"></textarea>
	{% elseif item.type == 'select' %}
		<select class="select">
			{% if item.placeholder %}
				<option data-placeholder="true">
					{{ item.placeholder }}
				</option>
			{% endif %}
			{% for option in item.options %}
				<option value="{{ option.value }}">
					{{ option.title }}
				</option>
			{% endfor %}
		</select>
	{% else %}
		<input type="{{ item.type }}"
			class="form-control"
			name=""
			id="{{ item.type ~ index }}"
			aria-describedby="emailHelpId"
			placeholder="{{ item.placeholder }}" />
	{% endif %}

	{% if item.help %}
		<small id="{{ item.type ~ 'Help' ~ index }}" class="form-text text-muted">{{ item.help }}</small>
	{% endif %}
	{% if item.error %}
		<div class="error text-danger">
			{{ item.error }}
		</div>
	{% endif %}
</div>
