{#
 # File: /src/views/components/flexible/hero/_hero.twig
 # Project: starter_frontend_twig
 # Version: 2.2.8
 # Created Date: Friday, September 29th 2023, 14:27:10
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Tuesday, May 28th 2024 14:31:20
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2024 justDev
 #}

<section class="hero">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				{% if ce.title %}
					<h1 class="mb-3">
						{{ ce.title }}
					</h1>
				{% endif %}
				{% if ce.text %}
					<p>
						{{ ce.text }}
					</p>
				{% endif %}

				{% if ce.button %}
					{% include paths.btn_ex with {
						button: ce.button
					} only %}
				{% endif %}
			</div>

			{% if ce.image %}
				<div class="col-md-6">
					<div v-photoswipe>
						<a class=""
							data-pswp-width="{{ ce.image.image.width }}"
							data-pswp-height="{{ ce.image.image.height }}"
							href="/assets/images/{{ ce.image.image.src ~ '.' ~ ce.image.image.ext }}">
							{{ image(ce.image) }}
						</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>
