{#
 # File: /src/views/components/flexible/hero/_hero.twig
 # Project: starter_frontend_twig
 # Version: 2.1.0
 # Created Date: Friday, September 29th 2023, 14:27:10
 # Author: Kirill Dorozhynskyi - kyrylo.dorozhynskyi@justdev.org
 # -----
 # Last Modified: Saturday, January 6th 2024 15:52:28
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2024 justDev
 #}

<section class="hero">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				{% if ce.title %}
					<h1>
						{{ ce.title }}
					</h1>
				{% endif %}
				{% if ce.text %}
					<p>
						{{ ce.text }}
					</p>
				{% endif %}

				{% if ce.button %}
					{% include paths.btn_ex with {
						button: ce.button
					} only %}
				{% endif %}
			</div>

			{% if ce.image %}
				<div class="col-md-6">
					<div is="vue:simple-gallery" id="store-header-carousel">
						<template v-slot:default>
							<a class=""
								data-pswp-width="{{ ce.image.image.width }}"
								data-pswp-height="{{ ce.image.image.height }}"
								href="/assets/images/{{ ce.image.image.src ~ '.' ~ ce.image.image.ext }}">
								{{ image(ce.image) }}
							</a>
						</template>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>
